*.log
*.tar.gz
*.tar.xz
*.7z
*.zip
.vscode
__pycache__
.env
samples
volumes/consul-data
volumes/sincro-cache
volumes/minio
sincromisor-server/log/*.log
sincromisor-server/log/voice
sincromisor-server/node_modules
sincromisor-server/assets/characters/*.jpg
sincromisor-server/assets/characters/*.json
sincromisor-server/assets/characters/*.glb
sincromisor-frontend/public/mediapipe-wasm/
sincromisor-frontend/public/characters/*.jpg
sincromisor-frontend/public/characters/*.json
sincromisor-frontend/public/characters/*.glb
sincromisor-frontend/public/characters/*.png
