@charset "utf-8";

@font-face {
	font-family: 'UDPGothic';
	font-weight: 100 500;
	font-style: normal;
	src: url('/3rd_party/fonts/SUBUDPGothic-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'UDPGothic';
	font-weight: 501 1000;
	font-style: normal;
	src: url('/3rd_party/fonts/SUBUDPGothic-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'UDSerif';
	font-weight: 100 500;
	font-style: normal;
	src: url('/3rd_party/fonts/SUBUDPMincho-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'UDSerif';
	font-weight: 501 1000;
	font-style: bold;
	src: url('/3rd_party/fonts/SUBUDMincho-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'UDCode';
	font-weight: 100 500;
	font-style: normal;
	src: url('/3rd_party/fonts/SUBUDGothic-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'UDCode';
	font-weight: 501 1000;
	font-style: normal;
	src: url('/3rd_party/fonts/SUBUDGothic-Bold.woff2') format('woff2');
}
