body {
    width: 100dvw;
    /* 横スクロールを防ぐ */
    overflow-x: hidden;
}

div#sincroBody {
    --buttonBorderRadius: clamp(5px 1vh 20px);

    & {
        width: 100dvw;
        min-height: 100dvh;

        overflow: clip;
        gap: 0px 0px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--baseBackgroundColor);

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        column-gap: 0px;
        row-gap: 0px;

        z-index: 0;
    }

    & div#sincroHeaderContainer {
        grid-area: 1 / 1 / 2 / 13;
        width: 100%;
        height: 100%;
        z-index: 6;
    }

    & .sincroIndexContainer {
        grid-area: 2 / 1 / 13 / 13;
        --objectSpace: 10px;

        & {
            width: 100%;
            height: 100%;
        }

        & h2 {
            font-size: clamp(1.5rem, 1.0714rem + 1.4286vw, 4.5rem);
            padding: var(--objectSpace) 0 var(--objectSpace) 1em;
            margin: var(--objectSpace) 0 var(--objectSpace) 0px;
            border-bottom: solid 1px;
        }

        & .sincroLinkBox {
            & {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: var(--objectSpace);
                padding-top: clamp(1.5rem, 1.0714rem + 1.4286vw, 4.5rem);
                padding-bottom: clamp(1.5rem, 1.0714rem + 1.4286vw, 4.5rem);
            }

            & button {
                width: 75%;
                font-weight: bold;
                font-size: clamp(1.5rem, 1.0714rem + 1.4286vw, 4.5rem);
                color: var(--headerTextColor);
                text-align: center;
                padding: clamp(1.5rem, 1.0714rem + 1.4286vw, 4.5rem);
                margin-top: var(--objectSpace);
                margin-bottom: var(--objectSpace);
                border-radius: var(--buttonBorderRadius) var(--buttonBorderRadius) var(--buttonBorderRadius) var(--buttonBorderRadius);
                background: linear-gradient(-70deg,
                        var(--headerBackgroundColor) 0%,
                        var(--headerBackgroundColor) 15%,
                        var(--headerBodyColor) 15%,
                        var(--headerBodyColor) 85%,
                        var(--headerBackgroundColor) 85%,
                        var(--headerBackgroundColor) 100%);
            }

            & button:hover {
                background-color: var(--headerBackgroundHoverColor);
            }

            & button.experimental {
                color: var(--headerExperimentalTextColor);
            }
        }
    }



}
