div#sincroChatBox {
    --chatMessageBorderRadius: clamp(5px 1vh 20px);
    --chatBoxSpace: clamp(5px 1vh 20px);
    --chatBoxIconSize: clamp(25px 4vh 100px);

    & {
        width: 100%;
        height: 100%;
        font-size: clamp(50% 1.5vh 400%);
        overflow: hidden;
    }

    div.sincroMessage {
        & {
            position: relative;
            padding: var(--chatBoxSpace);
            max-width: 35%;
            min-width: calc(var(--chatBoxIconSize) * 2);
            width: max-content;

            margin-left: auto;
            margin-right: auto;
            margin-top: var(--chatBoxSpace);
            margin-bottom: var(--chatBoxSpace);
            border-radius: var(--chatMessageBorderRadius);
            background-color: var(--otherMessageBackgroundColor);

            transition: all 0.5s ease-in-out;
            opacity: 0;
        }

        & .sincroMessage__iconBox {
            & {
                background-color: var(--otherMessageIconBoxColor);
                width: var(--chatBoxIconSize);
                height: var(--chatBoxIconSize);
            }

            & .sincroMessage__icon {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }

        & .sincroMessage__text {
            max-width: 100%;
            min-height: calc(var(--chatBoxIconSize) + var(--chatMessageBorderRadius));
            color: var(--textMessageColor);
            background-color: var(--textMessageBackgroundColor);
            padding: var(--chatBoxSpace);
            box-sizing: border-box;
            word-break: break-all;
        }
    }

    div.sincroUserMessage {
        & {
            margin-left: auto;
            margin-right: var(--chatBoxSpace);
            display: grid;
            grid-template-columns: 5fr var(--chatBoxIconSize);
            column-gap: 0px;
            row-gap: 0px;
            background-color: var(--userMessageBackgroundColor);
        }

        & .sincroMessage__iconBox {
            & {
                grid-area: 1 / 2 / 2 / 3;
                border-radius: 0px var(--chatMessageBorderRadius) var(--chatMessageBorderRadius) 0px;
                background-color: var(--userMessageIconBoxColor);
            }
        }

        & .sincroMessage__text {
            grid-area: 1 / 1 / 2 / 2;
            border-radius: var(--chatMessageBorderRadius) 0px var(--chatMessageBorderRadius) var(--chatMessageBorderRadius);
        }
    }

    div.sincroSystemMessage {
        & {
            margin-left: var(--chatBoxSpace);
            margin-right: auto;
            display: grid;
            grid-template-columns: var(--chatBoxIconSize) 5fr;
            column-gap: 0px;
            row-gap: 0px;
            background-color: var(--systemMessageBackgroundColor);
        }

        & .sincroMessage__iconBox {
            & {
                grid-area: 1 / 1 / 2 / 2;
                border-radius: var(--chatMessageBorderRadius) 0px 0px var(--chatMessageBorderRadius);
                background-color: var(--systemMessageIconBoxColor);
            }
        }

        & .sincroMessage__text {
            grid-area: 1 / 2 / 2 / 3;
            border-radius: 0px var(--chatMessageBorderRadius) var(--chatMessageBorderRadius) var(--chatMessageBorderRadius);
        }
    }

    div.sincroErrorMessage {
        & {
            margin-left: var(--chatBoxSpace);
            margin-right: auto;
            display: grid;
            grid-template-columns: var(--chatBoxIconSize) 5fr;
            column-gap: 0px;
            row-gap: 0px;
        }

        & .sincroMessage__iconBox {
            & {
                grid-area: 1 / 1 / 2 / 2;
                border-radius: var(--chatMessageBorderRadius) 0px 0px var(--chatMessageBorderRadius);
            }
        }

        & .sincroMessage__text {
            grid-area: 1 / 2 / 2 / 3;
            border-radius: 0px var(--chatMessageBorderRadius) var(--chatMessageBorderRadius) var(--chatMessageBorderRadius);
        }
    }

    div.sincroResetMessage {
        & {
            margin-left: var(--chatBoxSpace);
            margin-right: auto;
            display: grid;
            grid-template-columns: var(--chatBoxIconSize) 5fr;
            column-gap: 0px;
            row-gap: 0px;
        }

        & .sincroMessage__iconBox {
            & {
                grid-area: 1 / 1 / 2 / 2;
                border-radius: var(--chatMessageBorderRadius) 0px 0px var(--chatMessageBorderRadius);
            }
        }

        & .sincroMessage__text {
            grid-area: 1 / 2 / 2 / 3;
            border-radius: 0px var(--chatMessageBorderRadius) var(--chatMessageBorderRadius) var(--chatMessageBorderRadius);
        }
    }
}
