div#sincroPopBox,
div#sincroDialogPopBox {
    & {
        position: fixed;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 15;
        font-size: clamp(1rem, 0rem + 1.25vw, 3rem);
    }

    & .popMessage {
        width: 30lvw;
        padding: 15px;
        background-color: rgb(76, 175, 80, 0.8);
        color: white;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
        opacity: 0;
        transform: translateX(300px);
        transition: all 0.5s ease;
    }

    & .popError {
        background-color: rgb(230, 50, 100, 0.8);
    }

    & .popMessage.showPop {
        opacity: 1;
        transform: translateX(0);
    }
}
