:root {
    --canvasWidth: 100dvw;
    --canvasHeight: 100dvh;
    --canvasMinWidth: 650px;
}

body,
div#sincroBody {
    min-width: var(--canvasMinWidth);
}

div#sincroVideoBox1 {
    display: none;
}

div#sincroVideoBox2 {
    display: none;
}

div#sincroHeaderBox {
    display: none;
}

div#sincroChatBox {
    display: none;
}

div#sincroCharacterBox {
    min-width: var(--canvasMinWidth);
    grid-area: 1 / 1 / 5 / 4;
}

div#sincroCharacterBox__background {
    grid-area: 3 / 1 / 4 / 4;
}

div#sincroFooterBox {
    min-width: var(--canvasMinWidth);
    z-index: 256;
    background-color: rgba(34, 34, 34, 0.5);
}