<meta charset="UTF-8">
<link href="../styles/fonts.css" rel="stylesheet">
<link href="../styles/common.css" rel="stylesheet">
<link href="../styles/sincroDebugConsole.css" rel="stylesheet">
<link href="../styles/sincroConfigurationDialog.css" rel="stylesheet">
<link href="../styles/sincroHeaderBox.css" rel="stylesheet">
<link href="../styles/sincroChatBox.css" rel="stylesheet">
<link href="../styles/sincroCharacterBox.css" rel="stylesheet">
<link href="../styles/sincroVideoBox.css" rel="stylesheet">
<link href="../styles/sincroBackgroundBox.css" rel="stylesheet">
<link href="../styles/sincroFooterBox.css" rel="stylesheet">
<link href="../styles/sincroPopBox.css" rel="stylesheet">
