<div id="debugConsole">
    <div id="characterGaze">
        <video id="characterGazeVideo" autoplay="true" playsinline="true"></video>
        <svg id="characterGazeMarker" viewBox="0 0 320 240" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle id="eyeTarget" cx="50%" cy="50%" r="5" fill="hsl(300 100% 50% / 50%)" />
        </svg>
    </div>

    <div id="characterVoice">
        <audio id="rtcAudio" autoplay="true"></audio>
    </div>

    <button id="rtcStop">RTC Stop</button>
    <button id="startLookingGlass">Start Looking Glass</button>

    <h2>Data channel</h2>
    <pre id="textChannel"></pre>
    <pre id="telopChannel"></pre>

    <h2>Face Position</h2>
    <dl>
        <dt>Status</dt>
        <dd id="characterGazeStatus">みてない</dd>
        <dt>X</dt>
        <dd id="faceX"></dd>
        <dt>Y</dt>
        <dd id="faceY"></dd>
        <dt>Facing</dt>
        <dd id="facing"></dd>
    </dl>

    <h2>State</h2>
    <p>
        ICE gathering state: <span id="iceGatheringState"></span>
    </p>
    <p>
        ICE connection state: <span id="iceConnectionState"></span>
    </p>
    <p>
        Signaling state: <span id="signalingState"></span>
    </p>
    <h2>SDP</h2>

    <h3>Offer</h3>
    <pre id="offerSDP"></pre>

    <h3>Answer</h3>
    <pre id="answerSDP"></pre>
</div>
