<div id="sincroBody">
    <div id="sincroHeaderContainer">
        <div id="sincroHeaderBox">
            <div class="headerIconBox leftIconBox">
                <img class="headerIconBox__icon" src="../images/icon-system.webp">
            </div>
            <div id="sincroHeaderBox__leftDecoration"></div>
            <div id="sincroHeaderBox__text">Sincromisor</div>
            <div id="sincroHeaderBox__rightDecoration"></div>
            <div class="headerIconBox rightIconBox">
            </div>
        </div>
    </div>

    <div id="sincroVideoContainer">
        <div id="sincroVideoBox1">
            Video1です。
            1600x900
        </div>
        <div id="sincroVideoBox2">
            Video2です。
            1600x900
        </div>
    </div>

    <div id="sincroChatContainer">
        <div id="sincroChatBox">
        </div>
    </div>

    <div id="sincroCharacterContainer">
        <div id="sincroCharacterBox">
            <canvas id="sincroCharacterBox__canvas"></canvas>
        </div>
    </div>

    <div id="sincroBackgroundContainer">
        <div id="sincroBackgroundBox">
        </div>
    </div>

    <div id="sincroFooterContainer">
        <div id="sincroFooterBox">
            <p id="sincroFooterBox__text">
                こんにちは!
            </p>
        </div>
    </div>

    <div id="sincroDebugConsoleContainer">
        {{> debugConsole}}
    </div>

    <div id="sincroPopContainer">
        <div id="sincroPopBox">
        </div>
    </div>
</div>
